<div class="container">
    <h5 class="center-align">Examen de aplicacion para Evomatik</h5>
</div>
<div class="container row" style="text-align: center;">
	<a (click)="showLA()" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Laravel</a>
	<a (click)="showJS()" class="waves-effect waves-light btn"><i class="material-icons right">colorize</i>JS</a>
	<a (click)="showJQ()" class="waves-effect waves-light btn"><i class="material-icons right">create</i>jQuery</a>
	<a (click)="showCSS()" class="waves-effect waves-light btn"><i class="material-icons right">fingerprint</i>CSS</a>
</div>
<div class="container divLA">

	<h5 class="center-align">Informacion de Laravel</h5>

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="assets/img/lara.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Laravel<i class="material-icons right">more_vert</i></span>
      <p><a href="https://laravel.com/">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Laravel<i class="material-icons right">close</i></span>
      <p class="formato">The Laravel framework has a few system requirements. Of course, all of these requirements are satisfied by the Laravel Homestead virtual machine, so it's highly recommended that you use Homestead as your local Laravel development environment.</p>
      <p class="formato">Laravel utilizes Composer to manage its dependencies. So, before using Laravel, make sure you have Composer installed on your machine.</p>
      <p class="formato">Laravel needs almost no other configuration out of the box. You are free to get started developing! However, you may wish to review the config/app.php file and its documentation. It contains several options such as timezone and locale that you may wish to change according to your application.</p>
      <p class="formato">Laravel includes a public/.htaccess file that is used to provide URLs without the index.php front controller in the path. Before serving Laravel with Apache, be sure to enable the  mod_rewrite module so the .htaccess file will be honored by the server.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="assets/img/lara.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Laravel Homestead<i class="material-icons right">more_vert</i></span>
      <p><a href="https://laravel.com/docs/5.6/homestead">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Laravel Homestead<i class="material-icons right">close</i></span>
      <p class="formato">Laravel strives to make the entire PHP development experience delightful, including your local development environment. Vagrant provides a simple, elegant way to manage and provision Virtual Machines.</p>

	  <p class="formato">Laravel Homestead is an official, pre-packaged Vagrant box that provides you a wonderful development environment without requiring you to install PHP, a web server, and any other server software on your local machine. No more worrying about messing up your operating system! Vagrant boxes are completely disposable. If something goes wrong, you can destroy and re-create the box in minutes!</p>

	  <p class="formato">Homestead runs on any Windows, Mac, or Linux system, and includes the Nginx web server, PHP 7.2, PHP 7.1, PHP 7.0, PHP 5.6, MySQL, PostgreSQL, Redis, Memcached, Node, and all of the other goodies you need to develop amazing Laravel applications.</p>
		
<ol class="d">
	<li>Ubuntu 16.04</li>
	<li>Git</li>
	<li>PHP 7.2</li>
	<li>PHP 7.1</li>
	<li>PHP 7.0</li>
	<li>PHP 5.6</li>
	<li>Nginx</li>
	<li>Apache (Optional)</li>
	<li>MySQL</li>
	<li>MariaDB (Optional)</li>
	<li>Sqlite3</li>
	<li>PostgreSQL</li>
	<li>Composer</li>
	<li>Node (With Yarn, Bower, Grunt, and Gulp)</li>
	<li>Redis</li>
	<li>Memcached</li>
	<li>Beanstalkd</li>
	<li>Mailhog</li>
	<li>Elasticsearch (Optional)</li>
	<li>ngrok</li>
</ol>

    </div>
  </div>

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="assets/img/lara.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Blade Templates<i class="material-icons right">more_vert</i></span>
      <p><a href="https://laravel.com/docs/5.6/blade">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Blade Templates<i class="material-icons right">close</i></span>
      <p class="formato">Blade is the simple, yet powerful templating engine provided with Laravel. Unlike other popular PHP templating engines, Blade does not restrict you from using plain PHP code in your views. In fact, all Blade views are compiled into plain PHP code and cached until they are modified, meaning Blade adds essentially zero overhead to your application. Blade view files use the  .blade.php file extension and are typically stored in the resources/views directory.</p>
      <p class="formato">Two of the primary benefits of using Blade are template inheritance and sections. To get started, let's take a look at a simple example. First, we will examine a "master" page layout. Since most web applications maintain the same general layout across various pages, it's convenient to define this layout as a single Blade view</p>
      <p class="formato">As you can see, this file contains typical HTML mark-up. However, take note of the @section and @yield directives. The @section directive, as the name implies, defines a section of content, while the @yield directive is used to display the contents of a given section.</p>
      <p class="formato">When defining a child view, use the Blade @extends directive to specify which layout the child view should "inherit". Views which extend a Blade layout may inject content into the layout's sections using @section directives. Remember, as seen in the example above, the contents of these sections will be displayed in the layout using @yield:</p>
    </div>
  </div>

</div>

<div class="container divJS" style="display:none">
<h5 class="center-align">Informacion de JavaScript</h5>
  <div class="collection">
    <a href="#!" class="collection-item"><span class="badge">1</span>Alan</a>
    <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
    <a href="#!" class="collection-item">Alan</a>
    <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
  </div>
<h5 class="center-align">ECMAScript Browser Implementations</h5>
<table class="bordered striped centered responsive-table">
        <thead>
          <tr>
              <th>Engine</th>
              <th>ECMA</th>
              <th>Browser</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>V8</td>
            <td>6</td>
            <td>Chrome (Partial Support)</td>
          </tr>
          <tr>
            <td>SpiderMonkey	</td>
            <td>6	</td>
            <td>Firefox (Partial Support)</td>
          </tr>
          <tr>
            <td>Chakra	</td>
            <td>5	</td>
            <td>Edge 12</td>
          </tr>
          <tr>
            <td>Chakra	</td>
            <td>5	</td>
            <td>IE 10</td>
          </tr>
          <tr>
            <td>JavaScript 1.8.5	</td>
            <td>5	</td>
            <td>Firefox 4/td>
          </tr>
        </tbody>
      </table>
<br>
</div>

<div class="container divJQ" style="display:none">
	<h5 class="center-align">Informacion de jQuery</h5>
<div class="row">
    <form class="col s12">
	<div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Nombre</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="text" class="validate">
          <label for="icon_telephone">Apellidos</label>
        </div>
      </div>
	<div class="row">
        <div class="input-field col s4">
        	<i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate">
          <label for="email" data-error="wrong" data-success="right">Correo</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">vpn_key</i>
          <input id="icon_telephone" type="password" class="validate">
          <label for="icon_telephone">Password</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">vpn_key</i>
          <input id="icon_telephone" type="password" class="validate">
          <label for="icon_telephone">Password</label>
        </div>
      </div>
	<div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">web_asset</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">CURP</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">work</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">RFC</label>
        </div>
      <div class="row">
        <div class="input-field col s12">
        	<i class="material-icons prefix">school</i>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">CV</label>
        </div>
      </div>
<div class="row">
<div class="input-field col s4">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>

  <div class="input-field col s4">
    <select multiple>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Multiple Select</label>
  </div>

  <div class="input-field col s4">
    <select>
      <optgroup label="team 1">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
      </optgroup>
      <optgroup label="team 2">
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
      </optgroup>
    </select>
    <label>Optgroups</label>
  </div>
</div>

    <div class="file-field input-field">
      <div class="btn">
        <span>Archivo</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
      	<i class="material-icons prefix">airplay</i>
        <input class="file-path validate" type="text">
      </div>
    </div>

      </div>
    </form>
  </div>
</div>

<div class="container divCSS" style="display:none">
	<h5 class="center-align">Informacion de CSS</h5>
<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">assignment</i>¿Qué es CSS?</div>
      <div class="collapsible-body"><span><p class="formato">
      	Puede que ya hayas oído hablar de CSS sin saber realmente qué es. En esta lección aprenderás más cosas sobre CSS y qué puede hacer por ti.<br><br>

      	CSS es el acrónicmo de CascadingStyle Sheets (es decir, hojas de estilo en cascada).
      </p></span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">assignment_ind</i>¿Qué puedo hacer con CSS?</div>
      <div class="collapsible-body"><span><p class="formato">
      	CSS es un lenguaje de estilo que define la presentación de los documentos HTML. Por ejemplo, CSS abarca cuestiones relativas a fuentes, colores, márgenes, líneas, altura, anchura, imágenes de fondo, posicionamiento avanzado y muchos otros temas. ¡Espera unos segundos y ya verás!<br><br>

		Es posible usar HTML, o incluso abusar del mismo, para añadir formato a los sitios web. Sin embargo, CSS ofrece más opciones y es más preciso y sofisticado. CSS está soportado por todos los navegadores hoy día.<br><br>

		Después de unas cuantas lecciones de este tutorial serás capaz de crear tus propias hojas de estilo usando CSS para dar a tu sitio web un aspecto nuevo y genial.
      </p></span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">assignment_late</i>¿Qué diferencia hay entre CSS y HTML?</div>
      <div class="collapsible-body"><span><p class="formato">
      	HTML se usa para estructurar el contenido; CSS se usa para formatear el contenido previamente estructurado.<br><br>

		Vale, suena un poco técnico y confuso... pero sigue leyendo; pronto todo tendrá sentido.<br><br>

		Allá en los buenos tiempos en que Madonna era una "Virgen" y un tipo llamado Tim Berners Lee inventó el World Wide Web, el lenguaje HTML sólo se usaba para añadir estructura al texto. Los autores podían marcar sus textos diciendo "esto en un título" o "esto es un párrafo", usando las etiquetas HTML < h1 > y < p >, respectivamente.<br><br>

		A medida que la Web fue ganando popularidad, los diseñadores empezaron a buscar posibilidades para añadir formato a los documentos en línea. Para satisfacer esta reclamación, los fabricantes de los navegadores (en ese momento, Netscape y Microsoft) inventaron nuevas etiquetas HTML, entre las que se encontraban, por ejemplo, < font >, que se diferenciaba de las etiquetas originales HTML en que definían el formato... y no la estructura.<br><br>

		Esto también llevó a una situación en la que las etiquetas estructurales originales, por ejemplo, < table >, se usaban cada vez más de manera incorrecta para dar formato a las páginas en vez de para añadir estructura al texto. Muchas nuevas etiquetas que añadían formato, por ejemplo, < blink >, sólo las soportaban un tipo determinado de navegador. "Necesitas el navegador X para visualizar esta página" se convirtió en una declaración de descargo común en los sitios web.<br><br>

		CSS se inventó para remediar esta situación, proporcionando a los diseñadores web con sofisticadas oportunidades de presentación soportadas por todos los navegadores. Al mismo tiempo, la separación de la presentación de los documentos del contenido de los mismos, hace que el mantenimiento del sitio sea mucho más fácil.
      </p></span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">assignment_return</i>¿Qué beneficios me ofrece CSS?</div>
      <div class="collapsible-body"><span><p class="formato">
      	CSS fue toda una revolución en el mundo del diseño web. Entre los beneficios concretos de CSS encontramos:<br><br>

		control de la presentación de muchos documentos desde una única hoja de estilo;<br>
		control más preciso de la presentación;<br>
		aplicación de diferentes presentaciones a diferentes tipos de medios (pantalla, impresión, etc.);<br>
		numerosas técnicas avanzadas y sofisticadas.<br><br>
		
		En la siguiente lección examinaremos con más detenimiento cómo funciona realmente CSS y cómo puedes iniciarte en su uso.
      </p></span></div>
    </li>
  </ul>
</div>
